body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.styled-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    outline: none;
    transition: background-color 0.3s;
}

.styled-btn:hover {
    background-color: #2980b9;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .styled-btn {
    background-color: #555;
}
